@mixin visually-hidden () {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

@mixin clearfix () {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin container (
  $mobile-padding-left: 30px,
  $mobile-padding-right: 30px,
  $tablet-padding-left: 50px,
  $tablet-padding-right: 50px,
  $desktop-padding-left: 50px,
  $desktop-padding-right: 50px,
  $max-width: $desktop-width
) {
  box-sizing: border-box;
  max-width: $max-width;
  padding-left: $mobile-padding-left;
  padding-right: $mobile-padding-right;
  margin-left: auto;
  margin-right: auto;

  @media #{$tablet-only} {
    padding-left: $tablet-padding-left;
    padding-right: $tablet-padding-right;
  }

  @media #{$desktop-widths} {
    padding-left: $desktop-padding-left;
    padding-right: $desktop-padding-right;
  }
}

@mixin brand-gradient ($size: 100px, $deg: 122deg) {
  background: repeating-linear-gradient(
    $deg,
    #309e4a 4.65 * $size / 100,
    #32ac62 4.65 * $size / 100,
    #32ac62 24.37 * $size / 100,
    #776d42 24.37 * $size / 100,
    #776d42 30.80 * $size / 100,
    #a07c58 30.80 * $size / 100,
    #a07c58 50.68 * $size / 100,
    #de9e41 50.68 * $size / 100,
    #de9e41 55.25 * $size / 100,
    #f1b759 55.25 * $size / 100,
    #f1b759 74.79 * $size / 100,
    #eeaa41 74.79 * $size / 100,
    #eeaa41 81.81 * $size / 100,
    #f1b759 81.81 * $size / 100,
    #f1b759 100 * $size / 100
  );
}