@mixin visually-hidden () {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

@mixin clearfix () {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin container (
  $mobile-padding-left: 30px,
  $mobile-padding-right: 30px,
  $tablet-padding-left: 50px,
  $tablet-padding-right: 50px,
  $desktop-padding-left: 50px,
  $desktop-padding-right: 50px,
  $max-width: $desktop-width
) {
  box-sizing: border-box;
  max-width: $max-width;
  padding-left: $mobile-padding-left;
  padding-right: $mobile-padding-right;
  margin-left: auto;
  margin-right: auto;

  @media #{$tablet-only} {
    padding-left: $tablet-padding-left;
    padding-right: $tablet-padding-right;
  }

  @media #{$desktop-widths} {
    padding-left: $desktop-padding-left;
    padding-right: $desktop-padding-right;
  }
}

@mixin popup-shadow () {
  box-shadow: 0 0 7px rgba(0, 0, 0, .14), 0 10px 15px rgba(0, 0, 0, .28);
}

@mixin pane-shadow () {
  box-shadow: 0 0 2px rgba(0, 0, 0, .14), 0 2px 4px rgba(0, 0, 0, .28);
}

@mixin brand-gradient ($size: 100px, $deg: 122deg, $desaturate: 0, $lighten: 0) {
  background-image: repeating-linear-gradient(
    $deg,
    lighten(desaturate(#309e4a, $desaturate), $lighten) 4.65 * $size / 100,
    lighten(desaturate(#32ac62, $desaturate), $lighten) 4.65 * $size / 100,
    lighten(desaturate(#32ac62, $desaturate), $lighten) 24.37 * $size / 100,
    lighten(desaturate(#776d42, $desaturate), $lighten) 24.37 * $size / 100,
    lighten(desaturate(#776d42, $desaturate), $lighten) 30.80 * $size / 100,
    lighten(desaturate(#a07c58, $desaturate), $lighten) 30.80 * $size / 100,
    lighten(desaturate(#a07c58, $desaturate), $lighten) 50.68 * $size / 100,
    lighten(desaturate(#de9e41, $desaturate), $lighten) 50.68 * $size / 100,
    lighten(desaturate(#de9e41, $desaturate), $lighten) 55.25 * $size / 100,
    lighten(desaturate(#f1b759, $desaturate), $lighten) 55.25 * $size / 100,
    lighten(desaturate(#f1b759, $desaturate), $lighten) 74.79 * $size / 100,
    lighten(desaturate(#eeaa41, $desaturate), $lighten) 74.79 * $size / 100,
    lighten(desaturate(#eeaa41, $desaturate), $lighten) 81.81 * $size / 100,
    lighten(desaturate(#f1b759, $desaturate), $lighten) 81.81 * $size / 100,
    lighten(desaturate(#f1b759, $desaturate), $lighten) 100 * $size / 100
  );
}
