@import '../../scss/vars.scss';

.page-footer {
  position: relative;
  border-top: solid 5px lightgray;
  background-color: #eee;
  @include brand-gradient($size: 200%, $desaturate: 90%, $lighten: 50%);
  @include pane-shadow;

  &::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    height: 5px;
    @include brand-gradient($size: 200px);
  }
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media #{$mobile-wide-widths} {
  .page-footer__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
