@import '../../scss/vars.scss';

.circle-btn {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;
  font-size: 0;
  background-color: $popup-control-bg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  @include pane-shadow;
}

.circle-btn--x {
  background-image: url('./img/x.svg');
}

.circle-btn--plus {
  background-image: url('./img/plus.svg');
}

.circle-btn--minus {
  background-image: url('./img/minus.svg');
}

.circle-btn--small {
  width: 24px;
  height: 24px;
}
