@import '../../scss/vars.scss';
.footer-contacts {
  text-align: center;
}

.footer-contacts__link {
  font-weight: bold;
  color: $menu-color;

  &--phone {
    font-size: 18px;
  }

  p {
    margin: 10px 0;
  }
}

@media #{$tablet-widths} {
  .footer-contacts {
    text-align: left;
  }
}
