@import '../../scss/vars.scss';

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $popup-z-index;
  display: none;
  justify-content: center;
  align-items: flex-end;
  background-color: rgba(black, 0.3);

  &--visible {
    display: flex;
  }
}

.popup__inner {
  position: relative;
  z-index: $popup-z-index;
  display: flex;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  color: $primary-text-color;
  -webkit-overflow-scrolling: touch;

  &--big {
    height: 100%;
  }
}

.popup__controls {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 16;
}

@media #{$mobile-wide-only} {
  .popup__inner {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media #{$tablet-widths} {
  .popup {
    align-items: center;
  }

  .popup__inner {
    &--message,
    &--big {
      max-width: 900px;
      max-height: 600px;
    }
  }
}
