html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: $mobile-min-width;
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
}

.body-fixed {
  overflow: hidden;
}
