.good-details {
  overflow: scroll;
}

.good-details__image {
  display: flex;
  align-items: center;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
  }
}

.good-details__infopane {
  position: relative;
  padding: 10px;
}

.good-details__title {
  margin: 5px 0 10px;
  font-size: 15px;
}

.good-details__cart-btn {
  width: 100%;
}

@media #{$tablet-widths} {
  .good-details {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .good-details__infopane {
    position: static;
  }
}
