@import '../../scss/vars.scss';

.good-details {
  width: 100%;
  border: solid 10px transparent;
  border-bottom-width: 0;
  overflow: auto;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
}

.good-details__image {
  display: flex;
  border-radius: 5px;
  align-items: center;
  overflow: hidden;

  picture {
    width: 100%;
  }

  img {
    display: block;
    width: 100%;
  }
}

.good-details__infopane {
  position: relative;
  padding: 10px;
}

.good-details__title {
  margin: 5px 0 10px;
  font-size: 15px;
}

.good-details__description {
  line-height: 1.5;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.good-details__cart-btn {
  width: 100%;
}

@media #{$tablet-widths} {
  .good-details {
    display: flex;
    border-bottom-width: 10px;
    flex-direction: row;
    overflow: hidden;
    border-radius: 15px;

    @include popup-shadow;
  }

  .good-details__image {
    flex-shrink: 0;
    width: 600px;
  }

  .good-details__infopane {
    position: static;
    flex-grow: 1;
    overflow: auto;
  }
}
