.good-tile {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.good-tile__image {
  width: 100%;
}

.good-tile__image img {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.good-tile__details {
  text-align: center;
}

.good-tile__title {
  font-size: 15px;
}

.good-tile__title a {
  color: $menu-color;
  text-decoration: none;
}
