.social-links {
  margin: 10px 0;
}

.social-links__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-links__list li {
  padding: 5px;
}

.social-links__link {
  display: block;
  font-size: 0;
  color: transparent;
}

.social-links__link svg {
  width: 25px;
  height: 25px;
}
