@import '../../scss/vars.scss';

.main-nav {
  position: relative;
  flex-grow: 1;
  width: 100%;
  background: white;
}

.main-nav__list {
  position: absolute;
  display: none;
  z-index: $menu-z-index;
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: solid 1px lightgray;
  list-style: none;
  background: white;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.5);

  @supports (-webkit-backdrop-filter: blur()) {
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-backdrop-filter: blur(10px);
  }

  &--nojs {
    position: relative;
    display: block;
  }

  &--visible {
    display: block;
    border-bottom: solid 5px lightgray;

    &::before {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 5px;
      @include brand-gradient($size: 200px);
    }
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 15px 30px;
  font-weight: bold;
  text-decoration: none;
  color: $menu-color;

  &--active {
    background-color: rgba(#32ac62, 0.2);
  }
}

.main-nav__counter {
  position: absolute;
  padding: 2px 6px;
  margin-top: -3px;
  margin-left: 10px;
}
