@import './vars.scss';
@import './fonts.scss';
@import './normalize.scss';

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: $mobile-min-width;
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: 'system-ui', sans-serif;
  font-size: 15px;
}

.body-fixed {
  overflow: hidden;
}

// imports for codeless components
@import "../components/FooterContacts/style.scss";
@import "../components/Copyright/style.scss";
@import "../components/Container/style.scss";
@import "../components/CartSummary/style.scss";
@import "../components/FieldNumber/style.scss";
